/* ================
universal-selectors
================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 25%;
  --header-color: #ffffff;
  --left-sidebar-color: #EF3E36;
  --right-sidebar-color: #E2E8F0;
  --content-color: #E2E8F0;
  font-family: 'Oswald', sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 300px 4fr;
  grid-template-rows: 200px repeat(4, 1fr);
}

/* ================
    H E A D E R
================ */

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header .top-row,
.header .bottom-row {
  display: flex;
}

/* --- Top Row --> */
/* --- Left Side --> */

.left-side {
  display: flex;
  margin: 0px 0px 0px 48px;
  gap: 24px;
  align-items: center;
  width: 100%;
}

.top-row .left-side img {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.top-row .left-side input {
  all: unset;
  width: clamp(200px, 50%, 600px);
  height: 30px;
  background-color: var(--content-color);
  border-radius: 25px;
  cursor: text;
  padding: 0 8px;
}

/* <-- Left Side --- */

/* --- Right Side --> */
.right-side {
  display: flex;
  align-items: center;
  margin: 0 48px 0 auto;
  gap: 32px;
}

.right-side img {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.right-side img:nth-child(2) {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.header span {
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

/* <-- Right Side -- */
/* <-- Top Row --- */

/* --- Bottom Row --> */
/* --- Left Side --> */

.bottom-row .left-side img {
  height: 75px;
  border-radius: 50%;
}

.bottom-row span {
  font-size: 1.2rem;
}

/* <-- Left Side --- */

/* --- Right Side --> */

.right-side button {
  all: unset;
  cursor: pointer;
  padding: 8px;
  background-color: #EF3E36;
  width: 70px;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  padding: 4px;
}

/* <-- Right Side --- */
/* <--- Bottom Row --- */

/* ==========================
    L E F T  S I D E B A R
=========================== */
.left-sidebar {
  background-color: var(--left-sidebar-color);
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 16px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
  cursor: pointer;
}

/* --- List --> */

.left-sidebar ul {
  list-style: none;
  margin-left: 8px;
}

.li-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.left-sidebar li {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.li-item img {
  height: 30px;
  width: auto;
  cursor: pointer;
}

/* <-- List --- */

/* ==================
    C O N T E N T
================== */
.content {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}

/* ==============
    C A R D S
============== */
.projects {
  background-color: var(--content-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  transition: all 1s;
  gap: 50px;
  padding: 50px 0;
}

/* --- Cards --> */
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(260px, 80%, 600px);
  height: clamp(150px, 100%, 250px);
  border-radius: 12px;
  gap: 8px;
  background-color: white;
  background: linear-gradient(90deg, rgba(78, 80, 63, 1) 3%, rgba(255, 255, 255, 1) 3%);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 24px;
  margin-left: 24px;
}

.card span {
  margin: 0 24px;
  flex: 1;
  font-weight: 200;
}

.action-row {
  display: flex;
  justify-content: end;
  margin-right: 24px;
  gap: 16px;
  margin-bottom: 24px;
}

.action-row img {
  height: 25px;
  width: auto;
  cursor: pointer;
  cursor: pointer;
}

/* <-- Cards --- */

/* =============================
    R I G H T  S I D E B A R
============================= */
.right-sidebar {
  background-color: var(--right-sidebar-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: minmax(250px, 1fr);
  align-items: center;
}

.right-sidebar span {
  display: flex;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 1.3rem;
  font-weight: 500;
}

.item-top-wrap,
.item-bottom-wrap {
  display: flex;
  flex-direction: column;
}

/* --- Top Section --> */

.right-sidebar .item-top,
.right-sidebar .item-bottom {
  width: clamp(220px, 75%, 400px);
  height: clamp(300px, 75%, 500px);
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-weight: 200;
}

.right-sidebar .item-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

}

.item-top .item {
  padding: 8px;
}

.item-top .item .title {
  font-weight: 500;
}

.item-top .line-break {
  height: 1px;
  width: 80%;
  background-color: black;
}

.item-top .item .text {
  font-size: .8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* <-- Top Section --- */

/* --- Bottom Section --> */

.item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  padding: 24px;
}

.item-bottom .trending-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}

.item-bottom img {
  height: 35px;
  border-radius: 50%;
  width: auto;
  cursor: pointer;
}

.item-bottom .at {
  font-size: .95rem;
}

.item-bottom .line {
  font-size: .9rem;
  font-weight: 200;
}

/* <-- Bottom Section --- */

/* SMALLER SCREENS */

.hamburger-menu {
  display: flex;
  height: 30px;
  width: auto;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .left-sidebar {
    visibility: hidden;
  }

  .header {
    grid-area: 1 / 1 / 2 / 3;
  }

  .content {
    grid-area: 2 / 1 / -1 / 3;
  }
}


@media only screen and (max-width: 700px) {
  .right-sidebar {
    visibility: hidden;
  }

  .projects {
    grid-area: 2 / 1 / -1 / -1;
  }

  .header .bottom-row {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }

  .header {
    grid-template-rows: 100px;
  }

  .top-row .left-side input {
    display: none;
  }

  .left-side {
    gap: 0;
  }

  .content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
  }
}