/* ================
universal-selectors
================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 25%;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
}

/* ================
    H E A D E R
================ */

.header {
  background-color: rgb(238, 220, 121);
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* --- Top Row --> */

.header .top-row {
  display: flex;
  align-items: center;
}

/* --- Left Side --> */

.left-side {
  display: flex;
  margin: 24px;
  gap: 24px;
}

.left-side img {
  height: 30px;
  width: auto;
}

.left-side div {
  width: 600px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
}

/* <-- Left Side --- */

/* --- Right Side --> */
.right-side {
  display: flex;
  align-items: center;
  margin: 24px 24px 24px auto;
  gap: 32px;
}

.right-side img {
  height: 30px;
  width: auto;
}

.right-side img:nth-child(2) {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.right-side span {
  font-weight: 600;
  font-size: 1.3rem;
}

/* <-- Right Side -- */
/* <-- Top Row --- */


/* ==========================
    L E F T  S I D E B A R
=========================== */
.left-sidebar {
  background-color: rgb(121, 238, 121);
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 16px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

/* --- List --> */

.left-sidebar ul {
  list-style: none;
  margin-left: 8px;
}

.li-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.left-sidebar li {
  font-size: 1.3rem;
  font-weight: bold;
}

.li-item img {
  height: 30px;
  width: auto;
}

/* <-- List --- */

.content {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  background-color: rgb(121, 191, 238);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-sidebar {
  background-color: rgb(121, 148, 238);
  display: grid;
}