* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 25%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
}

.header {
  background-color: rgb(238, 220, 121);
  grid-area: 1 / 2 / 2 / 3;
}

.left-sidebar {
  background-color: rgb(121, 238, 121);
  grid-area: 1 / 1 / -1 / 2;
}

.content {
  background-color: rgb(121, 191, 238);
  grid-area: 2 / 2 / -1 / -1;
}