/* ================
universal-selectors
================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 25%;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
}

/* ================
    H E A D E R
================ */

.header {
  background-color: rgb(238, 220, 121);
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header .top-row,
.header .bottom-row {
  display: flex;
}

/* --- Top Row --> */
/* --- Left Side --> */

.left-side {
  display: flex;
  margin: 24px;
  gap: 24px;
  align-items: center;
}

.top-row .left-side img {
  height: 30px;
  width: auto;
}

.top-row .left-side div {
  width: 600px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
}

/* <-- Left Side --- */

/* --- Right Side --> */
.right-side {
  display: flex;
  align-items: center;
  margin: 24px 24px 24px auto;
  gap: 32px;
}

.right-side img {
  height: 30px;
  width: auto;
}

.right-side img:nth-child(2) {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.header span {
  font-weight: 600;
  font-size: 1.3rem;
}

/* <-- Right Side -- */
/* <-- Top Row --- */

/* --- Bottom Row --> */
/* --- Left Side --> */

.bottom-row .left-side img {
  height: 75px;
  border-radius: 50%;
}

.bottom-row span {
  font-weight: 600;
  font-size: 1.2rem;
}

/* <-- Left Side --- */

/* --- Right Side --> */

.right-side button {
  all: unset;
  cursor: pointer;
  padding: 8px;
  background-color: teal;
  width: 70px;
  border-radius: 25px;
  text-align: center;
}

/* <-- Right Side --- */
/* <--- Bottom Row --- */

/* ==========================
    L E F T  S I D E B A R
=========================== */
.left-sidebar {
  background-color: rgb(121, 238, 121);
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 16px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

/* --- List --> */

.left-sidebar ul {
  list-style: none;
  margin-left: 8px;
}

.li-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.left-sidebar li {
  font-size: 1.3rem;
  font-weight: bold;
}

.li-item img {
  height: 30px;
  width: auto;
}

/* <-- List --- */

/* ==================
    C O N T E N T
================== */
.content {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* ==============
    C A R D S
============== */
.projects {
  background-color: rgb(121, 191, 238);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 75%;
  height: 75%;
  border-radius: 12px;
  gap: 8px;
  background-color: white;
  background: linear-gradient(90deg, rgba(115, 115, 212, 1) 3%, rgba(255, 255, 255, 1) 3%);
}

.card h3 {
  margin-top: 24px;
  margin-left: 24px;
}

.card span {
  margin: 0 24px;
  flex: 1;
}

.action-row {
  display: flex;
  justify-content: end;
  margin-right: 24px;
  gap: 16px;
  margin-bottom: 24px;
}

.action-row img {
  height: 25px;
  width: auto;
  cursor: pointer;
}


.right-sidebar {
  background-color: rgb(121, 148, 238);
  display: grid;
}